* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: darkslategrey;
}
header {
    margin: auto;
    margin-bottom: 0.5em;
}
.floating-container {
    position: relative;
    display: block;
    padding: 50px;
    background-color: bisque;
    margin: auto;
    width: 75%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 3), 0 32px 64px 0 rgba(0, 0, 0, 2)
}
.text-center {
    text-align: center;
}
.container-margin {
    margin-bottom: 0.5em;
}
.desc {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}
.todo-submit-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    margin-bottom: 0.5em;
    padding: 10px 20px;
    background-color: rgba(40, 135, 200, 0.9);
    border: 2.5px solid black;
    border-radius: 5px;
}
.todo-submit-container > input {
    margin: 0.5em;
}
.todo-list-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    margin-bottom: 0.5em;
    padding: 10px 20px;
    background-color:rgba(40, 135, 200, 0.9);
    border: 2.5px solid black;
    border-radius: 5px;
}
.todo-list {
    display: flex;
    flex-direction: column;
}
.list-item {
    display: block;
    border: 1px solid black;
    margin: 5px;
    padding: 4px 8px;
}
.item-title {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.item-desc {
    display: block;
    text-align: center; 
    margin: auto;
    margin-bottom: 0.5em;
}
.item-img {
    display: block;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 100px;
    width: 100px;
}
.checkbox {
    display: inline-flex;
    margin: 1em;
}
.edit-button {
    display: inline-flex;
    width: 75px;
    margin: 1em;
    padding: 4px;
}
.delete-button {
    display: inline-flex;
    width: 75px;
    margin: 1em;
    padding: 4px;
}
.item-complete {
    text-decoration: line-through;
}