@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Libre+Baskerville:ital@0;1&display=swap');
@font-face {
    font-family: "Verde Moderna";
    src: url("resources/verdemoderna.woff") format('woff');
}

:root {
    --text-libre: 'Libre Baskerville', sans-serif;
    --text-julius: 'Julius Sans One', sans-serif;

}
* {
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: repeat(auto-fit, min-max(180px, 1fr));
    grid-template-areas: 
        "head head head head"
        "main main main side"
        "foot foot foot foot";
    margin: 0;
    padding: 0;
    color: #325050;
    font-family: var(--text-libre);
}
header {
    grid-area: head;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: left;
    font-family: var(--text-libre);
    height: 310px;
    padding: 0 131.4px 0 131.4px;
    background-image: url(resources/contours.png), url(resources/noise.png), url(resources/gridlines.png), url(resources/huntington.jpg);
}
header > h1 {
    display: inline-block;
    position: relative;
    margin:15px 0 0 0;
    padding: 60px 0 5px 0;
    color: #FFF;
    font-weight: normal;
    font-size: 51px;
    font-family: var(--text-julius);
    text-transform: uppercase;
}
header > h1::before {
    display: inline-block;
    position: relative;
    top: 65px;
    content: "";
    height: 125px; 
    width: 125px;
    margin: -65px 40px 0 0;
    background: url(resources/enso.svg);
    background-size: 100%;
}
header > h2 {
    display: block;
    font-size: 26px;
    font-weight: normal;
    font-style: italic;
    margin: 0;
    padding: 5px 0 60px 70px;
    color: rgba(255, 255, 255, 0.6);
}
header > h2::before {
    content: "";
    padding: 50px;
}

nav {
    grid-area: head;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-image: url(resources/contours.png), url(resources/noise.png), url(resources/gridlines.png), url(resources/huntington.jpg);
    font-family: var(--text-julius);
}
main {
    grid-area: main;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 867.5px;
    margin: 0;
    padding: 0;
    font-family: var(--text-libre);
}
main h3 {
    display: block;
    margin: 0;
    padding-top: 32px;
    font-family: var(--text-julius);
    font-size: 28px;
}
main p {
    display: block;
    margin: 12px 0 0 0;
    line-height: 2;
}
main div {
    display: block;
    padding: 64px 66px 64px 131.5px;
}
footer {
    grid-area: foot;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    background-color: rgb(19, 67, 71);
}
aside {
    grid-area: side;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    font-family: var(--text-libre);
    width: 446.5px;
}
i {
    padding: 8px;
    border: 3px solid;
    border-radius: 50%;
    color: #607476;
}
.explanation {
    display: block;
    padding-top: 52px;
    padding-bottom: 64px;
    height: 968.5px;
}
.participation {
    display: block;
    background-image: url(resources/contours-opaque.png), url(resources/gridlines-opaque.png), url(resources/bamboo.png);
    background-color: rgba(138,188,159,0.5);
    height: 784px;
}
.requirements {
    display: block;
    height: 880px;
}
.authors {
    display: block;
    background-color: #E5EDE8;
    height: 968.5px;
    margin: 0;
}
.authors > ul {
    list-style: none;
    padding: 52px 0 0 10px;
    margin: 0;
    width: 437px;
    height: 773.4px;
}
.authors > ul > li {
    display: block;
    padding: 24px 0px;
    margin: 0px 128px 0px 64px;
    border-top: rgb(217, 227, 220) 1px solid;
    font-style: italic;
    color: rgb(192, 202, 195);
    width: 244px;
}
.authors a:hover {
    color: #4d9e96;
}
.style-title {
    font-family: var(--text-julius);
    font-size: 19px;
    font-style: normal;
    color: rgb(96, 116, 118);
    text-decoration: none;
}
.style-author {
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    color: rgb(97, 104, 87);

}
.links {
    display: block;
    margin: 0;
    height: 784px;
    background-color: rgba(138,188,159,0.7);
    background-image: url(resources/contours-opaque.png), url(resources/gridlines-opaque.png), url(resources/bamboo.png);
    text-transform: uppercase;
    font-size: 19px;
    font-weight: normal;

}
.links > ul {
    display: block;
    margin: 0;
    padding: 108px 0 0 0;
    list-style: none;
    
}
.links > ul > li {
    display: block;
    margin: 0 29% 0 15%;
    padding: 24px 0 20px 0;
    border-top: rgb(160, 185, 173) 1px solid;
    color: rgb(192, 202, 195);
    width: 250px;
}
.resource {
    display: block;
}
.site-info {
    display: block;
    padding: 96px 158px 96px 158px;
    font-family: var(--text-libre);
    background-image:  url(resources/contours.png), url(resources/noise.png), url(resources/gridlines.png),  url(resources/koi.jpg);
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    text-align: center;
}
.site-info > h2 {
    font-size: 32px;
    width: 1050px;
}
.site-info > h2 > a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-style: normal;
}
.site-info > h2 > a:hover {
    text-decoration: underline;
}
.icons > ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 48px 131.5px 48px 131.5px;
}
