body {
    background-color: beige;
    width: 100%;
}
.flag-11 {
    height: 0;
    margin: 1em;
    overflow: hidden;
    padding-top: 100%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.295);
}
.flag-12 {
    height: 0;
    margin: 1em;
    overflow: hidden;
    padding-top: 50%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.295);
}
.flag-23 {
    height: 0;
    margin: 1em;
    overflow: hidden;
    padding-top: 66.66%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.295);
}
.flag-35 {
    height: 0;
    margin: 1em;
    overflow: hidden;
    padding-top: 60%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.295);
}
.flag-58 {
    height: 0;
    margin: 1em;
    overflow: hidden;
    padding-top: 62.5%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.295);
}
.flag-67 {
    height: 0;
    margin: 1em;
    overflow: hidden;
    padding-top: 85.71%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.295);
}
.france {
    background:linear-gradient(90deg,#002495 33%, #FFFFFF 33% 66%, #ED2938 66%)
}
.germany {
    background:linear-gradient(180deg, #000000 33%, #DE0002 33% 66%, #FFCE00 66%)
}
.madagascar {
    background: linear-gradient(90deg, #FFFFFF 33%, transparent 33%), linear-gradient(180deg, #FC3E32 50%, #007E39 50%)
}
.switzerland {
    background: linear-gradient(180deg, transparent 33%, #FFFFFF 33% 66%, transparent 66%), linear-gradient(90deg, transparent 33%, #FFFFFF 33% 66%, transparent 66%), #FF0002;
    background-size: 50% 50%;
    background-position: 50%;
    background-repeat: no-repeat; 
}
.sweden {
    background: linear-gradient(180deg, transparent 40%, #FECC00 40% 60%, transparent 60%), linear-gradient(90deg, transparent 32.5%, #FECC00 32.5% 47.5%, transparent 37.5%), #0269A6;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat; 
}
.gambia {
    background: linear-gradient(180deg, #CE1127 32.5%, #FFFFFF 32.5% 38%, #0C1C8C 38% 62%, white 62% 67.5%, #3A7728 67.5%);

}
.japan {
    background: radial-gradient(circle at center, #BC022D 37.5%, transparent 37.5%), #FFFFFF;
}
.niger{
    background: radial-gradient(circle at center, #E15307 20%, transparent 20%), linear-gradient(180deg, #E15307 33.33%, #FFFFFF 33.33% 66.66%, #10AF2A 66.66%); 
}