* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #E52521;
    border-bottom: 5px solid black;
}
header > :nth-child(1) {
    display: block;
    margin: auto;
    height: 100px;
    width: 100px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-content: center;
    align-items: center;
}
header > :nth-child(2) {
    grid-column: 2 / 4;
    grid-row: 1 / 1;
}
header > :nth-child(3){
    grid-column: 2 / 4;
    grid-row: 2 / 2;
}
header > :nth-child(4) {
    display: block;
    margin: auto;
    height: 100px;
    width: 100px;
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    justify-content: center;
    align-items: center;
}
.headline {
    text-align: center;
    text-decoration: underline;
    margin: 0 auto 0.5em;
}
#pest-headline {
    display: block;
    background-color: #049CD8;
}
.list-container {
    display:block;
    background-color: #049CD8;
    border-bottom: 5px solid black;
}
#pests {
    display: flex;
    justify-content: center;
}
#pests > li {
    display: block;
    list-style-type: none;
    margin: 0.5em;
}
.pest-img {
    display: block;
    height: 256px;
    width: 256px;
}
.tracking-container {
    display: block;
    background-color: #FBD000;
    border-bottom: 5px solid black;
}
footer {
    display: block;
    background-color: #43B047;
}
.button {
    margin: auto;
    padding: 8px 16px;
}