#result {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	background-color: gainsboro; 
  }
  
#result td, #result th {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
#result tr:nth-child(even){background-color: #f2f2f2;}
  
#result th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: red;
	color: white;
  }

.rev-style{
	max-width: 700px;
	padding: 20px 12px 10px 20px;
	font: 18px Arial, Helvetica, sans-serif;
}
.rev-style-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 20px;
	padding-bottom: 3px;
}
.rev-style-headingB{
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 18px;
	padding-bottom: 3px;
}

.rev-style label{
	display: block;
	margin-bottom: 15px;
}
.rev-style label > span{
	width: 200px;
	font-weight: bold;
	float: left;
	padding-top: 0px;
	padding-right: 5px;
}
.rev-style input.input-field{
	width: 48%;	
}
.rev-style input.input-field{
	box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
	border-radius: 3px;
	padding: 7px;
	outline: none;
}
.rev-style input[type=submit]{
	border: none;
	padding: 8px 15px;
	background: red;
	color: #fff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,.3);
	border-radius: 5px;
}
.rev-style input[type=submit]:hover{
	background: darkred;
	color: #fff;
}